/* Hero-section main div */
.hero-section {
  height: 100vh;
  padding: 5rem;
  background-image: url("./assets/hero-bg.jpg");
  background-image: radial-gradient(
      at top left,
      transparent 4%,
      rgb(60, 60, 60) 90%
    ),
    url("./assets/hero-bg.jpg");
  background-size: cover;
  color: white;
}

.hero-section .container,
.hero-section .row {
  height: 100%;
}
/* Text within hero div */
.hero-section .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
/* Hero content children*/
.hero-section .hero-content > * {
  padding: 1rem 0rem;
}
/* Site description */
.hero-section .hero-desc {
  font-size: 1.25rem;
}
/* Hero Button */
.hero-section .hero-button {
  background: var(--green);
  width: 14rem;
  height: 3rem;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}
.hero-section .hero-button:hover {
  background: var(--green-hover);
  box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
}
.hero-section .hero-button:active {
  box-shadow: inset 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 991px) {
  .hero-section .hero-content {
    align-items: center;
    padding-top: 40vh;
  }
}
