.register {
  padding: 8rem 0rem;
  background-color: white;
}

.register .form-group {
  padding: 2rem 0rem;
  font-size: 1.25rem;
}

/* Div surrounding sub-groups */
.register .form-sub-group-wrapper {
  display: flex;
  flex-direction: row;
}

.register .form-sub-group {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.register .form-sub-group .form-label {
  position: relative;
  top: 1.5rem;
  left: 0.5rem;
  order: 1;
  z-index: 0;
  transition: 0.3s;
  height: 1rem;
}

/* Hiding dummy placeholders */
.register .form-sub-group .form-control::placeholder {
  opacity: 0;
}

.register .form-sub-group .form-control {
  position: relative;
  z-index: 1;
  order: 2;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  transition: 0.3s;
  border-bottom: 1px solid black;
}

.register .form-sub-group .form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid var(--green);
}
.register .form-sub-group .form-control:required + .form-label::after {
  content: "*";
  color: red;
}

/* Moves label if placeholder is not shown or if it is focused */
.register .form-sub-group .form-control:not(:placeholder-shown) + .form-label,
.register .form-sub-group .form-control:focus + .form-label {
  top: 0;
  left: 0;
}

.register .form-sub-group .form-control:focus + .form-label {
  color: var(--green);
}

.register .form-button {
  position: relative;
  margin-right: 2rem;
  background: transparent;
  width: 8rem;
  height: 3rem;
  color: black;
  transition: 0.3s;
}

/* Border around button */
.register .form-button::before,
.register .form-button::after {
  content: "";
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  transition: 0.3s;
}

.register .form-button::before {
  top: -0.25rem;
  left: -0.25rem;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.register .form-button::after {
  bottom: -0.25rem;
  right: -0.25rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.register .form-submit::before,
.register .form-submit::after {
  transition: width 0.4s, height 0.4s 0.4s;
}
/* Disabled buttons */
.register .form-button:disabled::before {
  border-left: 1px solid grey;
  border-top: 1px solid grey;
}
.register .form-button:disabled:after {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.register .form-button:hover:not(:disabled)::before,
.register .form-button:hover:not(:disabled)::after {
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
}

/* Disabled hover when disabled */
.register .form-button:hover:not(:disabled) {
  background: black;
  color: var(--green);
}

.register .form-button:disabled {
  color: grey;
}

.register .message {
  font-size: 1.25rem;
  padding-top: 0.5rem;
}

.register .message.success {
  color: var(--green);
}
.register .message.error {
  color: red;
}

.register-image-wrapper {
  margin: 0;
  box-sizing: border-box;
}
/* .empty-div {
  flex: 25%;
  background-color: aqua;
  width: 100%;
} */

.register-row {
  display: flex;
}
.register-form {
  flex: 75%;
}
.register-image-wrapper {
  flex: 25%;
}
.register-image {
  width: 12rem;
  overflow: hidden;
  /* background-color: blue; */
  /* margin-right: -100px; */
}

@media screen and (max-width: 991px) {
  .register .form-sub-group-wrapper {
    flex-direction: column;
  }
  .register .form-button {
    margin-bottom: 0.5rem;
  }

  .register-row {
    flex-direction: column;
  }
  .register-form {
    width: 100%;
  }
  .register-image {
    display: none;
  }
}
